@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  align-items: flex-end;
}

.left-links {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.right-links {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  color: gray;
  text-decoration: none;
  margin: 0;
}

.header , .footer {
  padding: 16px;
  color: gray;
  text-decoration: none;

}

.left-links , .right-links {
  padding: 0;
  margin: 0;
}

a {
  color: #666;
  text-decoration: none;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}